<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Profile</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <a href="/"><img id="logo" src="/assets/img/logo.png" alt="forum logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app">
    <div id="profile-header">
      <p>Here is your Image, Name</p>
    </div>
    <p id="profile-bio">Bio Information</p>

    <p>Option to change Avatar</p>
  </section>

  <script src="/assets/appBundle.js"></script>
</body>

</html>