<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Forum - Sub</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <a href="/"><img id="logo" src="/assets/img/logo.png" alt="forum logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app">
    <h1>{{subPageName}}</h1>
    <div id="messages">
      <p>Subthreads Would Be Here</p>
      <p>Ability to Add Subthreads would Exist if You're Logged In</p>
    </div>

    <!-- you need sections for subPages here if you want them to load in !-->
    <!-- look at app.handlebars in DOMO !-->
  </section>

  <script src="/assets/appBundle.js"></script>
</body>

</html>