<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Forum - Specific Thread</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <a href="/"><img id="logo" src="/assets/img/logo.png" alt="forum logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app">
    <h1>Thread Title (example, Are Creepers OP?)</h1>
    <div id="users">
      <p>This is a thread.</p>
      <p>You can add to this thread if you're logged in</p>
      <p>You should be able to see Account Avatars and etc. next to each message</p>
    </div>
  </section>

  <script src="/assets/appBundle.js"></script>
</body>

</html>
