<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Forum - Specific Thread</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <a href="/"><img id="logo" src="/assets/img/logo.png" alt="forum logo" /></a>
    {{#if isLoggedIn}}
    <div class="navlink"><a href="/logout">Log Out</a></div>
    <div class="navlink"><a href="/changePassword">Change Password</a></div>
    {{else}}
    <div class="navlink"><a href="/login">Log In</a></div>
    {{/if}}

  </nav>

  <img src="/assets/img/adSpace.png" alt="Left Ad" class="ad-image left" />
  <img src="/assets/img/adSpace.png" alt="Right Ad" class="ad-image right" />
  </div>


  <section id="app">
    <h1>{{threadName}}</h1>
    <div id="threads">
      <p>This is a thread.</p>
      <p>You can add to this thread if you're logged in</p>
      <p>You should be able to see Account Avatars and etc. next to each message</p>
    </div>

    <!-- you need sections for threadNames here if you want them to load in !-->
    <!-- look at app.handlebars in DOMO !-->
  </section>

  <script src="/assets/threadbundle.js"></script>
</body>

</html>